<html>

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Remission {{dataRemission.id}}</title>
    <style type="text/css">
        table, th, td { 
            border: 1px solid black; 
            border-collapse: collapse;
            padding: 5px; 
            width: 100%;
        }
        .body {
            padding: 30px 10px 0px 10px
        }
      </style>
  </head>

  <body class="body">
    {{ startDate}} - {{ endDate}}
  </body>
</html>