<html>

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Invoice Example</title>
    <link rel="stylesheet" href="{{baseUrl}}/src/stylesheets/style.css" />
    </style>
  </head>

  <body>
    <div>
        Esta es una prueba {{invoiceData.payment_method}}
    </div>

  </body>

</html>